.authMain {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formControl {
    display: flex;
    flex-direction: column;
    align-items: start;
}